<div class="fluid-container">
    <div class="row">
        <div class="col-lg-12">
            <app-policy-header></app-policy-header>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-lg-12">
            <mat-tab-group>
                <mat-tab label="Manage Policies" mat-align-tabs="start" selectedIndex="1">
                    <app-manage-policies></app-manage-policies>
                </mat-tab>
                <mat-tab label="Monthly Record">
                    <app-monthly-record></app-monthly-record>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>